
<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <div class="container-fluid">
    <a class="navbar-brand fs-1 fw-bolder text-info" href="#"><u><i class="fa-solid fa-graduation-cap"></i>EduPoint</u></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse " id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 " >
        <li class="nav-item">
          <a class="nav-link  text-center" aria-current="page" href="/courses"><i class="fa-solid fa-book-open" style="color: white;"></i> Courses</a>
        </li>
      
          <li class="nav-item">
          <a class="nav-link " href="/quizes"><i class="fa-solid fa-paste" style="color: white;"></i> Quizes</a>
        </li>

        </ul>

            <form class="d-flex mx-5 px-5">
        
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="width: 250px;">
        <button class="btn btn-outline-light" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
      

     <div class="d-flex mx-5">
          <ul  class="navbar-nav me-auto my-2 my-lg-0 mx-1">
             <li>
           <a href="/user/cart" class="nav-link  text-center "><i class="fas fa-shopping-cart" style="color: white;"></i> 
              <sup><span class="badge bg-info  text-center">0</span></sup>Cart
            </a>
        </li>
             <li>
           <li class="nav-item">
          <a class="nav-link " href="/addQuiz"><i class="fa-solid fa-paste" style="color: white;"></i>  Add Quize</a>
        </li>
        </li>
          <li class="nav-item">
          <a class="nav-link " href="/addCourse"><i class="fa-solid fa-paste" style="color: white;"></i>  Add Course</a>
        </li>

        <li class="nav-item dropdown ">
          <a class="nav-link active dropdown-toggle  text-center" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-user" style="color: white;"></i> Account
          </a>
           


        
          <ul class="dropdown-menu bg-dark  text-center " aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item bg-dark text-light border-bottom  text-center" href="/user/profile"><i class="fa-solid fa-circle-user"></i> Profile</a></li>
           
            <li><a class="dropdown-item bg-dark text-light border-bottom " href="/add-admin"><i class="fa-solid fa-heart"></i>Add Admin</a></li>
            
            <li><a class="dropdown-item bg-dark text-light border-bottom  text-center" href="/queries"><i class="fa-solid fa-phone-flip"></i>user Query</a></li>
            <li><a class="dropdown-item bg-dark text-light border-bottom  text-center" href="#"><i class="fa-solid fa-comment"></i>View Feedback</a></li>
            <li><a class="dropdown-item bg-dark text-light border-bottom " href="/user/wishlist"><i class="fa-solid fa-heart"></i> Wishlist</a></li>
            
            <li><a class="dropdown-item bg-dark text-light border-bottom  text-center" href="/user/support"><i class="fa-solid fa-phone-flip"></i> Support</a></li>
            <li><a class="dropdown-item bg-dark text-light border-bottom  text-center" href="/user/feedback"><i class="fa-solid fa-comment"></i> Feedback</a></li>
          </ul>
         
      
       
        
        <li class="nav-item ">
          <a class="nav-link  text-center" href="/auth/user-login"><i class="fa-solid fa-right-to-bracket"  style="color: white;"></i> Login</a>
        </li>
           <li class="nav-item">
          <a class="nav-link  text-center" href="/auth/user-signup"><i class="fa-solid fa-user-plus" style="color: white;"></i> Signup</a>
        </li>
          <li class="nav-item ">
          <a class="nav-link  text-center" href="/auth/user-logout"><i class="fa-solid fa-right-from-bracket" style="color: white;"></i> logout</a>
        </li>
        
       
      
      </ul>
     </div>
     
     
       
    

  

   
    
    
    </div>
  </div>
</nav>