<% layout('layout/userboilerplate') -%>
<%- include("../partials/flash") %> 
<h4 class="display-4 bg-light p-3 rounded"><i class="fa-solid fa-book-open" style="font-size:4rem;color:black;"></i> All Quizes</h4>

<div class="card">
  <h5 class="card-header">Uaername</h5>
  <div class="card-body">
    <h5 class="card-title">Query Subject</h5>
    <p class="card-text">Qyery Description</p>
    <a href="#" class="btn btn-danger">Delete Query</a>
  </div>
</div>